[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-nvm"]
	path = oh-my-zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotbot-plugins/dotbot-npm"]
	path = dotbot-plugins/dotbot-npm
	url = https://github.com/ameliagapin/dotbot-npm.git
