[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim/pack/git-plugins/start/ale"]
	path = vim/vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
